.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.bttn {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}

.start {
    background-color: green;
}

.stop {
    background-color: red;
}

.reverse {
    background-color: aqua;
}

.clear {
    background-color: grey;
}
