.header {
    background-color: aquamarine;
    color: darkslategrey;
    padding: 4px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: darkslategrey;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: grey; 
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .header-button {
    background-color: #11cc00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .header-button:hover {
    background-color: #b1ed1b;
  }
  

  .footer {
    background-color: aquamarine;
    color: darkslategrey;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    max-width: 300px;
  }
  
  .footer h3 {
    margin-bottom: 10px;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons a {
    color: darkslategrey;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: grey;
  }
  
  