.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button {
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
}

.start {
    background-color: green;
}

.stop {
    background-color: red;
}

.reverse {
    background-color: aqua;
}

.clear {
    background-color: grey;
}

.link-to-products {
    text-decoration: none;
    color: #333;
    padding: 20px;
  }